<img src="assets/img/p1.jpg" class="img-fluid" alt="library">
<div class="container-fluid">
  <br>
  <h5>Welcome to Conestoga Library!</h5>
  <p>The Library advances and enriches student learning, contributes to teaching excellence, and supports research at Conestoga.</p>
  <p>Student can check all the books we have under "Book" bar. We support room reservation under "Reservation" bar.</p><br>
  <p>Please feel free to contact me if you have any suggestions!</p>
  <div style="font-size: 12px;">
    <i class="bi bi-telephone-fill" style="margin: 5px;"></i>Call: 519-748-5220<br>
    <i class="bi bi-envelope-open-fill" style="margin: 5px;"></i>Email: <a id="RLEmail" href="" data-role="button">rli8712@conestogac.on.ca</a>
  </div>

</div>

